<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{#if title }}{{ title }} - {{/if}}{{ site.name }}</title>
    <meta name="description" content="{{#if blurb}}{{ blurb }}{{else}}{{#if description}}{{ description }}{{else}}{{ site.description }}{{/if}}{{/if}}" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/ico" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/css/tachyons.min.css"/>
    <link rel="stylesheet" href="/assets/css/myffc.css">
<!--    <link rel="stylesheet" href="/assets/css/fa.min.css"> -->
  </head>
  <body class="avenir">

<header class="avenir bb b--black-10 ttu">

<nav class="db dt-l w-100 mw8 center border-box pa3 ph5-l">
  <a class="db dtc-l v-mid mid-gray link dim w-100 w-30-l tc f6 f4-l tl-l mb2 mb0-l b" href="/" title="Home">Faith Family Church</a>
  <div class="db dtc-l v-mid w-100 w-70-l tc tr-l">
    <a class="link dim dark-gray f6 f4-l dib mr3 mr4-l" href="/sermons/" title="Listen Online">Listen</a>
    <a class="link dim dark-gray f6 f4-l dib ml3 ml4-l" href="/pages/give" title="Give Online">Give</a>
  </div>
</nav>

</header>
