{{> header }}

<section class="mw7 center">
  <h2 class="ph3 ph0-l">{{ title }}</h2>
  <div class="pv4 bt b--black-10 ph3 ph0-l flex flex-column">
<article class="cf bg-near-white ">
  <div class="fl w-50 tc">
    <h1>service times</h1>
    <p>sundays 10:25am<br/>
		wednesdays 7:00pm<br/>
		<br/>
		</p>
  </div>
  <div class="fl w-50 tc">
	<h1>location</h1>
		<p>3339 wade hampton blvd<br/>
		taylors, sc<br/>
		(864)244-0207<br/>
		info@myffc.org</p>
  </div>
</article>
  <article class="cf">
  <div class="fl w-50 tc">
		<h2>Kids Ministry Workshop</h2>
	</div>
  <div class="fl w-50 tc">
		<p>Sun Aug 25, 2019<br/>
		5:00pm</p>
	</div>
</article>
<article class="cf">
<div class="fl w-50 tc">
  <h2>Transition Sunday</h2>
</div>
<div class="fl w-50 tc">
  <p>Sun Sept 8, 2019<br/>
  10:30am</p>
</div>
</article>
</div>
</section>

{{> footer }}
