{{> header }}

<section class="mw7 center">
  <h2 class="ph3 ph0-l">{{ title }}</h2>
  <div class="pv4 bt b--black-10 ph3 ph0-l flex flex-column">
<article class="cf bg-near-white ">
  <div class="fl w-50 tc">
    <h1>service times</h1>
    <p>sundays 10:25am<br/> 
		wednesdays 7:00pm<br/>
		<br/>
		</p>
  </div>
  <div class="fl w-50 tc">
	<h1>location</h1>
		<p>3339 wade hampton blvd<br/>
		taylors, sc<br/>
		(864)244-0207<br/>
		info@myffc.org</p>	
  </div>
</article>
<article class="pt4 cf">
  <div class="pv4 bt b--black-10 ph3 flex flex-column tc">
     <i>You will be enriched in every way so that you can be generous on every occasion, and through us your generosity will result in thanksgiving to God.</i>
     <b>2 Corinthians 9:11</b><br/>We believe that God loves a cheerful giver and at the heart of the Christian faith is generosity. We know our God is a generous giver and want to be more like Him. The Word of God calls us to be stewards of what we're given and to follow the principles of tithes and offerings as a way to establish His church and reach others with the gospel. We're never more like our God when we give, so we never hesitate to be generous.
     </br/>
	 <br/>
	 <br/>
	 <br/>
     <div class="fl w-100 tc">
        <button class="tithely-give-btn" style="background-color: #00DB72;font-family: inherit;font-weight: bold;font-size: 19px; padding: 15px 70px; border-radius: 4px; cursor: pointer; background-image: none; color: white; text-shadow: none; display: inline-block; float: none; border: none;" data-church-id="261780">Click to Give</button>
        <script src="https://tithe.ly/widget/v3/give.js?3"></script>
        <script>
            var tw = create_tithely_widget();
        </script>
        <br/>
		<h2>Thank you!</h2>
	</div>
</article>
</div>
</section>

{{> footer }}
