<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{#if title }}{ {title }} - {{/if}}{{ site.name }}</title>
    <meta name="description" content="{{#if blurb}}{{ blurb }}{{else}}{{#if description}}{{ description }}{{else}}{{ site.description }}{{/if}}{{/if}}" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/ico" href="/assets/images/favicon.ico">
	  <link rel="stylesheet" href="/assets/css/tachyons.min.css"/>
    <link rel="stylesheet" href="/assets/css/myffc.css">
<!--    <link rel="stylesheet" href="/assets/css/fa.min.css"> -->
  </head>
  <body class="avenir">

<header class="ttu">
  <div class="cover bg-left bg-center-l" style="background-image: url(/assets/images/tnc.png)">
    <div class="bg-black-40 pb5 pb6-m pb7-l">

      <nav class="db dt-l w-100 mw8 center border-box pa3 ph5-l">
        <a class="db dtc-l v-mid white link dim w-100 w-30-l f6 f4-l tc tl-l mb2 mb0-l b" href="/" title="Home">Faith Family Church</a>

        <div class="db dtc-l v-mid w-100 w-70-l tc tr-l">
          <a class="link dim white-90 f6 f4-l dib mr3 mr4-l" href="/sermons/" title="Listen Online">Listen</a>
	      <a class="link dim white-90 f6 f4-l dib ml3 ml4-l" href="/pages/give" title="Give Online">Give</a>
        </div>
      </nav>

      <div class="tc mt4 mt5-m mt6-l ph3">
        <h2 class="fw1 f4 white-80 ttu mt3 mb1 b">FFC has become...</h2>
        <a class="f6 no-underline grow dib v-mid white ba br1 b--white ph3 pv2 mb3 hover-bg-green" href="https://truenorth.sc">take me to True North Church</a>
      </div>


    </div>

  </div>
</header>

<div class="cf mw8 mw10-l center">
  <div class="fl w-50 w-25-l center w5">
    <article class="center bg-white br1 pa3 pa1-ns mv3 ba b--black-10">
      <div class="tc">
        <svg id="clock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="currentcolor">
          <path d="M16 0 A16 16 0 0 0 0 16 A16 16 0 0 0 16 32 A16 16 0 0 0 32 16 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 28 16 A12 12 0 0 1 16 28 A12 12 0 0 1 4 16 A12 12 0 0 1 16 4 M14 6 L14 17.25 L22 22 L24.25 18.5 L18 14.75 L18 6z"></path>
        </svg>
        <h1 class="f5 mb1">Service Times:</h1>Sundays @ 10:25am<br/>Wednesday @ 7:00pm<br/><br/>
      </div>
    </article>
  </div>
  <div class="fl w-50 w-25-l center w5">
    <article class="center bg-white br1 pa3 pa1-ns mv3 ba b--black-10">
      <a class="no-underline dim black-80 b--black-10" href="tel:8642440207"><div class="tc">
        <svg id="user" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="currentcolor">
          <path d="M10 8 A6 6 0 0 1 22 8 L22 12 A6 6 0 0 1 10 12 z M2 26 C3 23 10 20 14 20 L18 20 C22 20 29 23 30 26 L30 28 L2 28 z"></path>
        </svg>
        <h1 class="f5 mb2">(864)244-0207</h1><br/><br/><br/>

      </div></a>
    </article>
  </div>
  <div class="fl w-50 w-25-l center w5">
    <article class="center bg-white br1 pa3 pa1-ns mv3 ba b--black-10">
        <a class="no-underline dim black-80 b--black-10" href="http://maps.google.com/?q=3339 Wade Hampton Blvd, Taylors, SC, 29687" target="_blank">
      <div class="tc">
          <svg id="pin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="currentcolor">
  <path d="M4 12 A12 12 0 0 1 28 12 C28 20, 16 32, 16 32 C16 32, 4 20 4 12 M11 12 A5 5 0 0 0 21 12 A5 5 0 0 0 11 12 Z"></path>
</svg>
          <h1 class="f5 mb2">True North Church</h1>
          <h2 class="f6 mb2">3339 Wade Hampton Blvd</h2>
          <h2 class="f6 mb2">Taylors, SC 29687</h2>
      </div>
        </a>
    </article>
  </div>
  <div class="fl w-50 w-25-l center w5">
    <article class="center bg-white br1 pa3 pa1-ns mv3 ba b--black-10">
      <a class="no-underline dim black-80 b--black-10" href="mailto:info@myffc.org"><div class="tc">

        <svg id="mail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="currentcolor">
          <path d="M0 6 L16 16 L32 6 z M0 9 L0 26 L32 26 L32 9 L16 19 z"></path>
        </svg>
        <h1 class="f5 mb2">info at truenorth dot sc</h1><br/><br/><br/>

      </div></a>
    </article>
  </div>
</div>


<div class="tc ph4 mw8 mw10-l center">
  <h1 class="f4 f3-m f2-l fw2 black-90 mv3">
    We have changed!
  </h1>
  <h2 class="f6 f5-m f4-l fw2 black-70 mt0 mb1 lh-copy">
            <p>After 35 years of faithful service and ministry, Pastors Frank and Judi Jones have turned the Senior Pastor role over to Pastors Brad and Jennifer Losh. Check us out at <a href="https://truenorth.sc">True North Church</a>.</p>
            <p>Every weekend we gather for worship and teaching on <strong class="b">Sundays at 10:25am</strong>. There are services and classes for your kids during our worship experience on the weekend and <strong class="b">Wednesday evenings at 7:00pm</strong>.</p>
  </h2>
</div>

<div class="tc pv3 ph3 bg-light-green mw8 mw10-l center">
  <h1 class="f4 f3-m f2-l fw2 black-90 mv3 mt1 mb0">
    FFC Sermons:
  </h1>
<div class="dt-ns dt--fixed-ns">
{{#each collections.latestPosts}}
  <a class="no-underline" href="/{{ path }}">
  <div class="f6 no-underline grow dib v-mid black ba br1 b--black ph5 pv2 mb3 hover-bg-green">
  <svg id="musicNote" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="currentcolor">
  <path d="M0 24 A6 6 0 0 0 12 24 V8 H26 V18 A6 6 0 0 0 18 24 A6 6 0 0 0 30 24 V2 H8 V18 A6 6 0 0 0 0 24"></path>
</svg>
    <h3>{{ title }}</h3>
  </div>
  </a>
{{/each}}
</div></div>
{{> footer }}
