{{> header }}
<section class="mw7 center">
  <h2 class="ph3 ph0-l">Listen</h2>
<!--  <h2 class="ph3 ph0-l"><input text oninput="search(idx,this.value)"></input></h2> -->
  {{#each pagination.files }}

  <article class="pv4 bt b--black-10 ph3 ph0-l">
    <div class="flex flex-column flex-row-ns">
      <div class="w-100 w-70-ns pr3-ns order-2 order-1-ns">

        <span class="f3 mt0 lh-title">
			<a class="mid-gray link dim" href="/{{ path }}">
              <span class="f6 link dim ba bw1 ph3 pv2 mb2 dib black">
<!--				  PLAY&nbsp; -->
				  <svg class="w1" data-icon="play" viewBox="0 0 32 32" style="fill:currentcolor"><title>play icon</title>
                    <path d="M4 4 L28 16 L4 28 z"></path>
                  </svg>
              </span>
			  &nbsp;
              {{ title }}
            </a>
        </span>
      </div>
      <div class="pl3-ns order-1 order-2-ns mb4 mb0-ns w-100 w-30-ns">
    	<p class="f6 lh-copy gray mv0"><span class="ttu">{{ author }}</span></p>
    	<time class="f6 db gray">{{ postDate }}</time>
      </div>
    </div>
    <ul class="list ph3 ph5-ns">
        <li class="dib mr1 mb2">topics:<li>
        {{#each tags as |tag| }}
        <li class="dib mr1 mb2">
          <a class="f6 f4-ns b db pa2 link dim dark-gray ba b--black-20" href="{{baseUrl}}/topics/{{tag.slug}}/" title="topics for {{tag.name}}">{{tag.name}}</a>
        </li>
        {{/each}}
    </ul>


  </article>

    {{/each}}


    {{#if pagination}}

    <div class="flex items-center justify-center pa4">
      {{#if pagination.previous}}
      <a href="/{{pagination.previous.path}}" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4">
        <svg class="w1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>chevronLeft icon</title>
          <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
        </svg>
        <span class="pl1">Newer</span>
      </a>
        {{/if}}

        {{#if pagination.next}}
      <a href="/{{pagination.next.path}}" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box">
        <span class="pr1">Older</span>
        <svg class="w1" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>chevronRight icon</title>
          <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
        </svg>
      </a>
        {{/if}}
    </div>

    {{/if}}

</section>
<!--
<script src="/assets/js/lunr.js"></script>
<script src="/assets/js/myffc.js"></script>
-->
{{> footer }}
